
{% extends 'base.html' %}

{% block content %}
{% load static %}

    <h3 align="center">Gallery of {{ user }}</h3>


    <br><br><br>


    <div class="container-fluid">
    <div class="row">
    {#    for pic in pictures: make div thumbnail with miniature #}
    {%  for image in images %}

            <a name="img-{{ image.pk }}"></a>

            <div class="col-md-4">
                <!-- MEDIA PROCESSING VIA MEDIA_URL ADDED ALSO TO SETTINGS.PY -->
                <!-- SHOWING ORIGINAL PICTURE -->
                <!-- <img src="{{ MEDIA_URL }}{{image.path}}" style="max-width: 300px">  -->

                <p>{{ image.name }} <span style="font-size: x-small">({{ image.pk }})</span>

                <a href="{% url 'delete' image.pk %}">
                    <button class="btn btn-xs btn-primary" type="submit" style="max-width: 80px;"> Delete </button>
                </a>
                </p>

                <a style="text-decoration: none" href="{% url 'display' image.pk %}">
                    <pre class="pre-gallery">{{ image.ascii }}</pre>
                </a>

            </div>


            {#    if 3 pic in row: create new <div class="row">#}
            {% if forloop.counter|divisibleby:"3" and not forloop.last %}
            </div><div class="row">
            {% endif %}

    {%  endfor %}
    </div>
    </div>




{% endblock %}